.contenedor {
    height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #ededed;
    color: rgb(180, 180, 180);
    text-align: center;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-weight: 'Outfit', sans-serif;
    font-weight: 900;
}

header h1 span {
    font-weight: 900;
    color: black;
}

.shadow {
    box-shadow: 10px 5px 5px black;
}

.spinner{
    display: flex;
    justify-content: center;
}

.poder{
    width: 100px;
    height: 100px;
}